<footer class="md-footer">

  <div class="custom-footer">

    <!-- LEFT -->
    <div class="footer-left">
      © 2026 TC Pioneer
    </div>

    <!-- CENTER -->
    <div class="footer-center">
      Made with <span>❤️</span> by TCP
    </div>
    <!-- RIGHT -->
    <div class="footer-right">
      <a href="https://instagram.com/tcpioneerorg">Instagram</a>
      <a href="https://facebook.com/tcpioneerorg">Facebook</a>
      <a href="https://linkedin.com/company/tcpioneerorg">LinkedIn</a>
      <a href="https://discord.gg/CjW2TraS">Discord</a>
    </div>

  </div>

</footer>